.code-window {
    float: left;
    width: 80%;
    height: 96vh;
}

.open {
    padding: 0 5%;
    background-color: #FCFBF4;
    transition: all 0.05s ease-in-out;
    font-size: 1.2rem;
    font-weight: lighter;
}

.close {
    background-color: #FCFBF4;
    transition: all 0.05s ease-in-out;
    height: 0;
    overflow: hidden;
}

.navigator {
    background-color: #E8E9E7;
    width: 100%;
    height: 4%;
}

.code-mirror {
    width: 100%;
    height: 96%;
}

.file {
    float: left;
    background-color: #fff;
    width: 15%;
    height: 71%;
    margin: 10px 0;
}

.problem-explorer {
    color: #997000;
    font-weight: bold;
    text-align: center;
}

.code {
    float: left;
    background-color: #dfdfdf;
    width: 85%;
    height: 75%;
}

.result {
    clear: left;
    background-color: rgb(179, 179, 179);
    width: 100%;
    height: 25%;
}

hr {
    margin: 0
}