.MyList{
    background-color: #E7E7E7;
    width: 450px;
    height: 80px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    padding: 8px 15px 15px 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.MyList-top {
    height: 70%;
    margin-top: 7px;
}
.no-cover {
    float: left;
    width: 25%;
}
.problem-no{
    float: left;
    text-align: center;
    border: 1px #7A8B9B;
    color: #FCFBF4;
    border-radius: 15px;
    background-color: #7A8B9B; 
    padding: 2px 9px;

}
.problem-title {
    float: left;
    width: 50%;
    text-align: center;
}

.MyList-bottom {
    height: 30%;
}
.problem-nickName{
    float: right;
}
.problem-kind{
    float: left;
}
