.Clock{
    float:right;
    line-height: 30px;
    margin-right : 3%;
    font-size: 90%;
    height: 4vh;
}

.end-time {
    float: right;
    margin-right: 35vw;
}

.start-time {
    float: right;
    margin-right: 20px;
}