.Clock{
    float:right;
    line-height: 30px;
    margin-right : 3%;
    font-size: 90%;
    height: 4vh;
}

.title {
    float: right;
}

.end-time {
    float: right;
}

.start-time {
    float: right;
}