.CodeWindow {
    float: left;
    width: 100%;
    height: 96vh;
    max-width: 100%;
    min-width: 0px;
}

.navigator {
    background-color: #E8E9E7;
    width: 100%;
    height: 4%;
}

.code-mirror {
    width: 100%;
    height: 96%;
}

.file {
    float: left;
    background-color: #fff;
    width: 15%;
    height: 100%;
    overflow: scroll;
    resize: horizontal;
}

.problem-explorer {
    color: #997000;
    font-weight: bold;
    text-align: center;
}

.code {
    float: left;
    width: 85%;
    height: 100%;
}

.result {
    background-color: rgb(179, 179, 179);
    width: 100%;
    height: 25%;
}
.result-header {
    background-color: #555;
    height: 10%;
    text-align: left;
    color: #DDD;
    overflow: hidden;
    font-size: small;
}
.result-header p {
    float: left;
    margin-top: 0.2%;
}
.result-body {
    height: 90%;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #000;
    color: #63de00;
}
.cmd-img {
    margin-top: 0.2%;
    float: left;
    margin-left: 1%;
    margin-right: -1%;
}
.cmd-title {
    float: left;
    margin-top: 0;
    margin-left: 2%;
    font-size: xx-small;

}
.result-body p {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: -1%;
    margin-bottom: -20%;
    font-size: small;
}
.under-bar {    
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

hr {
    margin: 0
}

.cover {
    display: flex;
    width: 100%;
    height: 75%; 
}

.language-selector {
    float: right;
}

.theme-selector {
    float: right;
}

.font-size {
    float: right;
}