.header {
    width: 100vw;
    height: 4vh;
    background-color: rgba(248,248,248,90%);
}


.logo {
    float: left;
    height: 100%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    color: #283D39;
    font-size: 1.7rem;
    margin: 0 1vw;
}

.menu {
    float: left;
    background-color: rgba(248,248,248,90%);
    width: 30%;
    height: 100%;
}

.dropbtn {
    background-color: rgba(248,248,248,90%);
    color: #414141;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.dropbtn:hover {
    color: #997000
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(248,248,248,90%);}